<div class="awsui">
  <!--<app-header></app-header>-->

  <main class="awsui-grid">

    <div class="awsui-layout-left-nav">

      <nav id="n" class="side-nav">

        <div class="awsui-row">

          <div id="adminMenu" class="c-s-3 c-m-12">
            <h4>Administration</h4>
            <ul class="awsui-list awsui-list-unstyled" style="margin-top: 0;">
              <li>Coming Soon</li>
            </ul>
          </div>
        </div>

      </nav>
      <section id="content">

        <app-ticket-list></app-ticket-list>
        <app-ticket-detail></app-ticket-detail>

      </section>
    </div>
  </main>
</div>
